{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Book Recommendations{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.addbooks') }}">Add Read Books</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for book in books %}
    <article class="post">
      <header>
        <div>
          <h3>{{ book['title'] }}<div> by {{book['author']}} </div></h3>
          <div class="about">Rating: {{ book['rate'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  <h1> Books You've Read </h1>
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h3>{{ post['title'] }}<div> by {{post['author']}} </div></h3>
          <div class="about">Rating: {{ post['rate'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
